<h1>Show list</h1>

<h4><%= @list.name %></h4>

<ul>
<% @list.bookmarks.each do |bookmark| %>
<li><%= link_to bookmark.comment, list_bookmarks_path(bookmark) %></li>
<% end %>
</ul>

 <%= link_to 'Go back', lists_path, class: "btn btn-danger mt-3" %>

 <%= link_to 'Add a Bookmark', new_list_bookmark_path(@list), class: "btn btn-primary mt-3" %>

<%# <%= link_to 'Delete', list_path(bookmark), method: :delete, data: { confirm: 'Are you sure?' } %> %>
